@import '../base.scss';
.arrow {
    border-top: 1px solid #303133;
    border-left: 1px solid #303133;
    border-right: 0;
    border-bottom: 0;
    &:hover {
        border-color: #00c286;
    }
}


.r-date-container {
    position: relative;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    width: 400px;
    height: 400px;
}
.r-date-header {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .r-header-year-left {
        display: inline-block;
        position: relative;
        width: 8px;
        height: 8px;
        @extend .arrow;
        transform: rotate(-45deg);
        cursor: pointer;
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            left: 2px;
            top: 2px;
            @extend .arrow;
        }
    }
    .r-header-year-right {
        display: inline-block;
        position: relative;
        width: 8px;
        height: 8px;
        @extend .arrow;
        transform: rotate(135deg);
        cursor: pointer;
        margin-left: 10px;
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            left: 2px;
            top: 2px;
            @extend .arrow;
        }
    }
    .r-header-month-left {
        display: inline-block;
        position: relative;
        width: 8px;
        height: 8px;
        @extend .arrow;
        transform: rotate(-45deg);
        cursor: pointer;
        margin-left: 10px;
    }
    .r-header-month-right {
        display: inline-block;
        position: relative;
        width: 8px;
        height: 8px;
        @extend .arrow;
        transform: rotate(135deg);
        cursor: pointer;
        margin-left: 10px;
    }
    .r-header-content {
        flex: 1;
        text-align: center;
    }
}

.r-date-week{
    overflow: hidden;
    border-bottom: 1px solid #dcdfe6;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
        flex: 0 0 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        flex: 1;
        text-align: center;
    }
}

.r-date-body {
    
}
