@import '../base.scss';

.c-slider-container {
    width: 100%;
    height: 6px;
    background: #e4e7ed;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    &.c-slider-disabled {
        .c-slider-button {
            border-color: #c0c4cc;
            cursor: not-allowed;
            &:hover {
                transform: scale(1);
            }
        }
        .c-slider-bar {
            background-color: #c0c4cc;
        }
    }
}

.c-slider-bar {
    position: absolute;
    height: 6px;
    border-radius: 3px;
    background-color: #00c286;
}

.c-slider-button-wrapper {
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 1001;
    top: -17px;
    transform: translateX(-50%);
    background-color: transparent;
    text-align: center;
    user-select: none;
    line-height: 36px;
    &:hover {
        .c-slider-button {
            transform: scale(1.2);
        }
    }
    .c-slider-button {
        width: 16px;
        height: 16px;
        border: 2px solid #00c286;
        background-color: #fff;
        border-radius: 50%;
        transition: .2s;
        user-select: none;
        display: inline-block;
        vertical-align: middle;
        cursor: move;
    }
}

.c-silder-tooltip {
    display: none;
    position: absolute;
    border-radius: 4px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    top: -40px;
    padding: 4px 10px;
    transform: translateX(-50%);
}