@import '../base.scss';
.select-container {
    width: 400px;
    box-sizing: border-box;
    position: relative;
    *{
        box-sizing: border-box;
    }
}
.select-input {
    width: 100%;
    padding: 12px;
    line-height: 1.5;
    font-size: 14px;
    color: $primary-color;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.selector-container {
    width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    overflow-y: auto;
    display: none;
    position: absolute;
    left: 0;
    top: 46px;
    box-sizing: border-box;
    z-index: 100;
    background: #fff;
}
.selector-search {
    padding: 10px;
    .selector-search-input {
        width: 100%;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
}
.selector-list {
    width: 100%;
    .selector-list-item {
        padding: 12px;
        cursor: pointer;
        &:hover, &.active{
            background: $active-color;
            color: #fff;
        }
    }
    .no-result {
        padding: 12px;
        color: #ddd;
    }
}
